@{
    var db = new OnlineMvcStore.Models.OnlineMvcStoreDb();
    var categories = db.Categories.ToList();
    }




<div class = "sidebar">
    <ul>
        @foreach (var item in categories)
        {
            <li>
                @Html.ActionLink(item.Name, item.Name, "Category")
            </li>
        }    
    
    </ul>
</div>